USE [master]
GO
/****** Object:  Database [RPA]    Script Date: 22.04.2025 19:27:33 ******/
CREATE DATABASE [RPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RPA', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\RPA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RPA_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\RPA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RPA]
GO
/****** Object:  User [rpatest]    Script Date: 22.04.2025 19:27:33 ******/
CREATE USER [rpatest] FOR LOGIN [rpatest] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [K2RU\r.kholinov]    Script Date: 22.04.2025 19:27:33 ******/
CREATE USER [K2RU\r.kholinov] FOR LOGIN [K2RU\r.kholinov] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [rpatest]
GO
ALTER ROLE [db_owner] ADD MEMBER [K2RU\r.kholinov]
GO
/****** Object:  Table [dbo].[CandidateSearch]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateSearch](
	[VacancyID] [int] IDENTITY(1,1) NOT NULL,
	[SearchID] [int] NULL,
	[ResumeTitle] [nvarchar](255) NULL,
	[PersonalInfo] [nvarchar](max) NULL,
	[Speciality] [nvarchar](1000) NULL,
	[WorkingExperience] [nvarchar](max) NULL,
	[Education] [nvarchar](max) NULL,
	[ExpectedSalary] [nvarchar](255) NULL,
	[Citizenship] [nvarchar](255) NULL,
	[Location] [nvarchar](500) NULL,
	[ResumeURL] [nvarchar](500) NULL,
 CONSTRAINT [PK_CandidateSearch] PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateSearchParams]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateSearchParams](
	[SearchID] [int] NOT NULL,
	[SearchRole] [nvarchar](500) NULL,
	[SearchCountry] [nvarchar](200) NULL,
	[SearchGender] [nvarchar](200) NULL,
	[SearchStatus] [nvarchar](200) NULL,
	[RelocationStatus] [nvarchar](200) NULL,
	[WorkExperience] [nvarchar](200) NULL,
	[AgeFrom] [nvarchar](200) NULL,
	[AgeTo] [nvarchar](200) NULL,
	[VacancyCount] [nvarchar](200) NULL,
 CONSTRAINT [PK_CandidateSearchParams] PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeePositions]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePositions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[PositionID] [int] NULL,
 CONSTRAINT [PK_EmployeePositions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[RetireDate] [date] NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmploymentCertificatesLog]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentCertificatesLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[CertificateID] [int] NULL,
	[EmployeeID] [int] NULL,
	[DateOfCreation] [datetime] NULL,
	[Purpose] [nvarchar](255) NULL,
 CONSTRAINT [PK_EmploymentCertificatesLog_1] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NULL,
	[PositionTitle] [nvarchar](255) NULL,
	[FixedSalary] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalaryData]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryData](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[SalaryDate] [datetime] NULL,
	[TotalSalary] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SalaryData] PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[SaleDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Commission] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[v_EmployeeInfo]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_EmployeeInfo]
AS
SELECT     dbo.Employees.EmployeeID, dbo.Employees.LastName, dbo.Employees.FirstName, dbo.Employees.MiddleName, dbo.Employees.BirthDate, dbo.Employees.HireDate, dbo.Employees.Phone, dbo.Employees.Email, dbo.Employees.Address, 
                  dbo.Departments.DepartmentName, dbo.Positions.PositionTitle, dbo.Positions.FixedSalary
FROM        dbo.Employees INNER JOIN
                  dbo.EmployeePositions ON dbo.Employees.EmployeeID = dbo.EmployeePositions.EmployeeID INNER JOIN
                  dbo.Positions ON dbo.EmployeePositions.PositionID = dbo.Positions.PositionID INNER JOIN
                  dbo.Departments ON dbo.Positions.DepartmentID = dbo.Departments.DepartmentID
WHERE     (dbo.Employees.RetireDate IS NULL)

GO
SET IDENTITY_INSERT [dbo].[CandidateSearch] ON 

GO
SET IDENTITY_INSERT [dbo].[CandidateSearch] OFF
INSERT [dbo].[CandidateSearchParams] ([SearchID], [SearchRole], [SearchCountry], [SearchGender], [SearchStatus], [RelocationStatus], [WorkExperience], [AgeFrom], [AgeTo], [VacancyCount]) VALUES (45, N'ML-инженер', N'00Россия', N'1', N'0', N'0', N'0', N'-', N'-', N'3')
INSERT [dbo].[CandidateSearchParams] ([SearchID], [SearchRole], [SearchCountry], [SearchGender], [SearchStatus], [RelocationStatus], [WorkExperience], [AgeFrom], [AgeTo], [VacancyCount]) VALUES (46, N'Web-дизайнер', N'00Россия', N'0', N'0', N'0', N'0', N'-', N'-', N'3')
INSERT [dbo].[CandidateSearchParams] ([SearchID], [SearchRole], [SearchCountry], [SearchGender], [SearchStatus], [RelocationStatus], [WorkExperience], [AgeFrom], [AgeTo], [VacancyCount]) VALUES (47, N'Web-дизайнер', N'00Россия', N'0', N'0', N'0', N'0', N'-', N'-', N'3')
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Отдел продаж')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (2, N'Маркетинговый отдел')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (3, N'Финансовый отдел')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[EmployeePositions] ON 

INSERT [dbo].[EmployeePositions] ([ID], [EmployeeID], [PositionID]) VALUES (1, 1, 9)
INSERT [dbo].[EmployeePositions] ([ID], [EmployeeID], [PositionID]) VALUES (2, 2, 23)
INSERT [dbo].[EmployeePositions] ([ID], [EmployeeID], [PositionID]) VALUES (3, 3, 30)
GO
SET IDENTITY_INSERT [dbo].[EmployeePositions] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [BirthDate], [HireDate], [RetireDate], [Phone], [Email], [Address]) VALUES (1, N'Крюкова', N'Марфа', N'Владимировна', CAST(N'1997-03-09' AS Date), CAST(N'2023-04-01' AS Date), NULL, N'+7 (044) 836-0854', N'zsharov@npo.ru', N'клх Кемерово, бул. Трудовой, д. 8 к. 4/3, 199529')
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [BirthDate], [HireDate], [RetireDate], [Phone], [Email], [Address]) VALUES (2, N'Лебедева', N'София', N'Адриановна', CAST(N'1990-01-26' AS Date), CAST(N'2013-07-04' AS Date), NULL, N'8 810 835 8328', N'kornilbragin@ip.com', N'г. Андреаполь, ул. О.Кошевого, д. 8/1 стр. 54, 330416')
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [BirthDate], [HireDate], [RetireDate], [Phone], [Email], [Address]) VALUES (3, N'Титов', N'Олег', N'Касьянович', CAST(N'1970-01-17' AS Date), CAST(N'1994-07-21' AS Date), NULL, N'8 (600) 892-1963', N'paramon_80@ip.ru', N'с. Люберцы, ул. Минская, д. 9/5 к. 5/9, 607658')
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EmploymentCertificatesLog] ON 

INSERT [dbo].[EmploymentCertificatesLog] ([LogID], [CertificateID], [EmployeeID], [DateOfCreation], [Purpose]) VALUES (1, 1, 19, CAST(N'2024-09-04 00:00:00.000' AS DateTime), N'Кредит')
INSERT [dbo].[EmploymentCertificatesLog] ([LogID], [CertificateID], [EmployeeID], [DateOfCreation], [Purpose]) VALUES (2, 2, 5, CAST(N'2024-12-12 00:00:00.000' AS DateTime), N'Съем жилья')
INSERT [dbo].[EmploymentCertificatesLog] ([LogID], [CertificateID], [EmployeeID], [DateOfCreation], [Purpose]) VALUES (3, 3, 61, CAST(N'2025-11-01 00:00:00.000' AS DateTime), N'Кредит')
SET IDENTITY_INSERT [dbo].[EmploymentCertificatesLog] OFF
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [DepartmentID], [PositionTitle], [FixedSalary]) VALUES (1, 2, N'Менеджер по продажам', CAST(33001.29 AS Decimal(18, 2)))
INSERT [dbo].[Positions] ([PositionID], [DepartmentID], [PositionTitle], [FixedSalary]) VALUES (2, 5, N'Маркетолог', CAST(59387.02 AS Decimal(18, 2)))
INSERT [dbo].[Positions] ([PositionID], [DepartmentID], [PositionTitle], [FixedSalary]) VALUES (3, 3, N'Финансовый аналитик', CAST(118376.55 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Positions] OFF
SET IDENTITY_INSERT [dbo].[SalaryData] ON 

INSERT [dbo].[SalaryData] ([SalaryID], [EmployeeID], [SalaryDate], [TotalSalary]) VALUES (1, 1, CAST(N'2024-05-11 00:00:00.000' AS DateTime), CAST(43386.26 AS Decimal(18, 2)))
INSERT [dbo].[SalaryData] ([SalaryID], [EmployeeID], [SalaryDate], [TotalSalary]) VALUES (3, 1, CAST(N'2024-08-10 00:00:00.000' AS DateTime), CAST(84446.84 AS Decimal(18, 2)))
INSERT [dbo].[SalaryData] ([SalaryID], [EmployeeID], [SalaryDate], [TotalSalary]) VALUES (4, 1, CAST(N'2025-04-01 00:00:00.000' AS DateTime), CAST(144457.91 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[SalaryData] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [EmployeeID], [SaleDate], [Amount], [Commission]) VALUES (7, 2, CAST(N'2024-01-10 00:00:00.000' AS DateTime), CAST(4378.88 AS Decimal(18, 2)), CAST(0.09 AS Decimal(18, 2)))
INSERT [dbo].[Sales] ([SaleID], [EmployeeID], [SaleDate], [Amount], [Commission]) VALUES (13, 4, CAST(N'2024-08-04 00:00:00.000' AS DateTime), CAST(31179.71 AS Decimal(18, 2)), CAST(0.04 AS Decimal(18, 2)))
INSERT [dbo].[Sales] ([SaleID], [EmployeeID], [SaleDate], [Amount], [Commission]) VALUES (17, 5, CAST(N'2024-07-11 00:00:00.000' AS DateTime), CAST(5246.48 AS Decimal(18, 2)), CAST(0.02 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Sales] OFF
ALTER TABLE [dbo].[EmployeePositions]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePositions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeePositions] CHECK CONSTRAINT [FK_EmployeePositions_Employees]
GO
ALTER TABLE [dbo].[EmployeePositions]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePositions_Positions] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[EmployeePositions] CHECK CONSTRAINT [FK_EmployeePositions_Positions]
GO
ALTER TABLE [dbo].[EmploymentCertificatesLog]  WITH CHECK ADD  CONSTRAINT [FK_EmploymentCertificatesLog_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmploymentCertificatesLog] CHECK CONSTRAINT [FK_EmploymentCertificatesLog_Employees]
GO
ALTER TABLE [dbo].[Positions]  WITH CHECK ADD  CONSTRAINT [FK_Positions_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Positions] CHECK CONSTRAINT [FK_Positions_Departments]
GO
ALTER TABLE [dbo].[SalaryData]  WITH CHECK ADD  CONSTRAINT [FK_SalaryData_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[SalaryData] CHECK CONSTRAINT [FK_SalaryData_Employees]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Employees]
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployeeData]    Script Date: 22.04.2025 19:27:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertEmployeeData]
			@SearchID int = null
           ,@ResumeTitle nvarchar(255) = null
           ,@PersonalInfo nvarchar(max) = null
           ,@Speciality nvarchar(1000) = null
           ,@WorkingExperience nvarchar(max) = null
           ,@Education nvarchar(max) = null
           ,@ExpectedSalary nvarchar(255) = null
           ,@Citizenship nvarchar(255) = null
           ,@Location nvarchar(500) = null
           ,@ResumeURL	nvarchar(500) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[CandidateSearch]
           ([SearchID]
           ,[ResumeTitle]
           ,[PersonalInfo]
           ,[Speciality]
           ,[WorkingExperience]
           ,[Education]
           ,[ExpectedSalary]
           ,[Citizenship]
           ,[Location]
           ,[ResumeURL])
     VALUES
           (@SearchID 
           ,@ResumeTitle
           ,@PersonalInfo
           ,@Speciality
           ,@WorkingExperience
           ,@Education
           ,@ExpectedSalary
           ,@Citizenship
           ,@Location
           ,@ResumeURL);




END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Departments"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 126
               Right = 263
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmployeePositions"
            Begin Extent = 
               Top = 7
               Left = 311
               Bottom = 148
               Right = 512
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Employees"
            Begin Extent = 
               Top = 7
               Left = 560
               Bottom = 303
               Right = 761
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Positions"
            Begin Extent = 
               Top = 7
               Left = 809
               Bottom = 217
               Right = 1010
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 15
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1920
         Width = 1668
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_EmployeeInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_EmployeeInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_EmployeeInfo'
GO
USE [master]
GO
